<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


	<div ng-controller="FecharContumazAnatel as controller">		
		<div class="lbl-cabecalho">Fechar Contumaz Anatel</div>
		
		<form method="post" enctype="multipart/form-data">
			<div style="width:100% !important;">		
				<input style="min-height:30px" ng-model="fileinput" id="fileuplo" class="inline-block" type="file" name="file" file-reader="fileContent" accept=".csv,.xsl">
				
				<button type="submit" class="btn btn-primary" style="margin-top:20px;" ng-click="controller.callContinueFileUpload()">
					<i class="icon-arrow-right"></i> Carregar
		        </button>
		        
		        <button type="button" class="btn btn-primary" style="margin-top:20px; margin-right:10px" ng-click="controller.clearForm()" ng-show="controller.chamados.length">
					<i class="icon-arrow-right"></i> Limpar
		        </button>
		        
		        <button type="button" class="btn btn-primary" style="margin-top:20px; margin-right:10px" ng-click="controller.callExecuteFechamentoMassivo()" ng-show="controller.chamados.length">
					<i class="icon-arrow-right"></i> Executar
		        </button>
		        
		        <span style="margin-top: 20px; display:block;"><b>Exemplo de formatação do arquivo CSV!</b></span>
			    <table border="1" class="table table-hover" style="width:400px !important; float:left;">
			    	<thead>
						<tr>
							<th>Chamado</th>							
							<th>Resposta</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>GVT417183645</td>							
							<td>Resposta</td>
						</tr>
						<tr>
							<td>GVT018004875</td>
							<td>Resposta</td>
						</tr>
					</tbody>
			    </table>
		        
		        <div class="table-responsive" style="margin-top:20px">
		        	<table border="1" ng-show="controller.chamados.length" class="table table-hover">
		        		<thead>
					        <tr>
					        	<th>Chamado</th>
					        	<th>Valor</th>
					        </tr>
				        </thead>
				        <tbody>
					        <tr ng-repeat="chamado in controller.chamados">
					        	<td>{{chamado.request}}</td>
					        	<td style="max-width: 700px">{{chamado.valor}}</td>
					        </tr>
				        </tbody>
			        </table>
		        </div>
			</div>
			<div style="min-height:60px">
				<div class="alert alert-success" ng-show="vShowMessage" ng-class="{fade:doFade}">
				  <strong>Sucesso!</strong> {{message}}
				</div>
			</div>
		</form>
	</div>



